.sidenav {
   height: 100%;
   width: 125px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 
 .sidenav ul li a:hover {
    margin-left: 5px;
    color: #f1f1f1;
   }
   
   .sidenav ul {
     list-style-type: none;
     padding: 0;
  }
  
.sidenav ul li a{
   padding: 10px 15px;
   transition: margin-left .3s ease;
 }
 
 .sidenav ul li a {
   text-decoration: none;
   color: #818181;
   display: block;
 }
 