.sidenav {
   height: 100%;
   width: 112px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: -75px;
   background-color: #ffffff;
   overflow-x: hidden;
   padding-top: 20px;
   box-shadow: rgb(146, 146, 146) 0 0 10px -3px;
   border-radius: 0 25px 0 0;
   transition: .3s ease-in-out;
 }

 .sidenav:hover {
   margin-left: 75px;
 }
 
 
.sidenav ul li a:hover {
    margin-left: 5px;
    color: #343434;
   }
   
.sidenav ul {
     list-style-type: none;
     padding: 0;
  }
  
.sidenav ul li a{
   padding: 10px 15px;
   transition: margin-left .3s ease;
 }
 
 .sidenav ul li a {
   text-decoration: none;
   color: #818181;
   display: block;
 }

 #arrowIcon {
   /* z-index: 2; */
   margin-left: 80px;
 }
 