.card {
   position: relative;
   height: 400px;
   width: 500px;
   border-radius: 18px;
   border: .5px solid rgb(234, 234, 234);
   box-shadow: rgba(100, 100, 111, 0.317) 0px 7px 29px 0px;
   transition: .2s ease;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_Size {
   font-size: 15px;
   font-style: italic;
   background: none;
}

.panel {
   padding: 25px;
   display: flex; 
   justify-content: space-between;
   gap: 25px;
}

.card:hover {
   transform:scale(1.03);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.text-container {
   position: absolute;
   margin: auto;
   bottom: 40px; /* Start outside of the card */
   width: 100%;
   height: 10vh;
   background: linear-gradient(to bottom, rgba(189, 189, 189, 0.301), rgba(187, 187, 187, 0)); /* Gradient background */
   text-align: center;
   opacity: 0;
   transition: bottom 0.6s ease, opacity 0.3s ease;
   border-radius: 0 90px 0 0;
   padding-top: 25px;
   font-size: 18px;
}

.card:hover .text-container {
   padding-top: 25px;
   bottom: 175px;
   opacity: 1;
   border-radius: 0 90px 0 0;
}

.aboutSection {
   height: 500px;
   margin-top: 90px;
   margin-bottom: 50px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   background-color:rgb(255, 255, 255);
   border-radius: 8px;
}

.pic {
   position: relative;
   height: 200px;
   top: -43px;
   left:50%;
   border-radius: 12px;
}

@media screen and (max-width: 1100px) {
   .panel {
      flex-direction: column;
   }
   .card {
      width: 90%;
      margin: auto;
      height: 275px;
   }
   .card:hover .text-container {
      bottom: 90px;
   }
   .pic {
      left:50%
   }
 }